html {
  box-sizing: border-box;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  background-image: url("./images/background-picture.jpg");
  background-size: cover;
  min-height: 100vh;
  padding-bottom: 50px;
  position: relative;
}